/*
Theme standart
Created by: Byron Corrales Rivas | byroncorrales@gmail.com | @byroncor
2012
*/

@import "button_framework.less";

.bton-standart{
    .cursor;
    display:block;
    padding:7px;
    border:0px;
    color:#fff;
    .rounded-corners(5px);
    .linear-gradient(#ff8c6b,#f13631,30%);
    border:#e71510 1px solid;
    .text-shadow(0px, 1px, 0px, #e71510);
    font-weight:bold;
    &:hover{
        .linear-gradient(#ff8c6b,#f13631,15%);
    }
}

.bton-grey{
    .cursor;
    display:block;
    padding:7px;
    border:0px;
    color:#0895c7;
    .rounded-corners(3px);
    .linear-gradient-half(#fff,#dadada);
    border:#c9c9c9 1px solid;
    .text-shadow(0px, 1px, 0px, #fff);
    font-weight:bold;
    &:hover{
        .linear-gradient-half(#fff,#cecece);
    }
}

.bton-bread-orange{
    .cursor;
    display:block;
    padding:7px;
    border:0px;
    color:#fff;
    .rounded-corners(3px);
    .linear-gradient(#f28e50,#e86411,30%);
    .box-shadow(0px,0px,2px,#4e585c);
    .text-shadow(0px, 1px, 0px, #ab4b0e);
    &:hover{
        .linear-gradient(#f28e50,#c65710,15%);
    }
}

.bton-bread-grey{
    .cursor;
    display:block;
    padding:7px;
    border:0px;
    color:#0895c7;
    .rounded-corners(3px);
    .linear-gradient(#fff,#f7f7f7,30%);
    border:#c9c9c9 1px solid;
    .text-shadow(0px, 1px, 0px, #fff);
    font-weight:bold;
    &:hover{
        .linear-gradient(#fff,#f3f3f3,15%);
        border:#a6a6a6 1px solid;
    }
}