@import "lib_style.less";
@import "button_theme_standart.less";
#header{
	margin-top:15px;
	margin-bottom:15px;
	#header-title{
		font-size:13px;
		color:#555753;
		margin-top:4px;
	}
	.logoheader{
		float:left;
		margin-right:10px;
	}
	.line-header{
		height:45px;
		background:url(/files/img/line-header.png) repeat-x center left;
	}
}

// Index
.contenido{
	color:#212526;
}
.formindex{
	background:url(/files/img/formindex.jpg) ;
	height:325px;
	border-top:#055f7f 2px solid;
	margin-bottom:15px;
}

.loginform{
	margin-top:250px;
}

.title-block-index{
	font-size:13px;
	font-weight:bold;
	color:#4a9b1f;
	margin:10px 0px;
}
.batahola{
	text-align:justify;
}

.programa-index{
	height:276px;
}

.iconindex-contact{
	padding-left:25px;
	background:url(/files/img/contactoicon.png) no-repeat center left;
}

.iconindex-pregunta{
	padding-left:25px;
	background:url(/files/img/preguntasicon.png) no-repeat center left;
}

.info-block{
	padding-left:25px;
}

.elemento-login-form{
	height:55px;
	margin-right:10px;
	float:left;

	label{
		font-size:15px;
		color:#fff;
		.text-shadow(0px,1px,0px,#006c8e);
	}

	input[type="text"],input[type="password"]{
		.rounded-corners(3px);
		border:0;
		font-size:16px;
		font-family:Arial;
		color:#737177;
		border-bottom:#1fdeff 1px solid;
		.box-shadow(0px,-1px,0px,#253f4f);
		padding-left:10px;
		width:165px;
		height:30px;
	}
	input[type="submit"]{
		margin-top:22px;
		.bton-standart;
		height:35px;
		width:70px;
	}
}

.alert{
 	margin-top: -38px;
 	background:#f8eded;
    text-align: center;
    width: 438px;
    border:#f87373 1px solid;
    .rounded-corners(5px);
    ul{
    	margin-bottom:0px;
    }
}

.programa-index-label{
	color:#bfc0bd;
}

.programa-index-nombre{
	color:#0893c5;
	font-weight:bold;
	margin-bottom:10px;
}


.accordion {
	background:#fafaf9;
	a{
		color:#2e3436;
		text-decoration:none;
		padding-left: 30px !important;
		background:url(/files/img/iconprog.png) no-repeat 10px center;
		font-weight:bold;
		&:hover{
			color:#000;
		}
	}
	.accordion-inner{
		background:#fff;
	}
}

.user-logueado{
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:#c6e9ff;
	a{
		.bton-standart;
		text-decoration:none;
		width:180px;
		margin:0;
		
	}
}

// Template de lista de Programas

.topnavigation a{
	.bton-grey;
	font-size:10px;
	margin-top:-12px;
	float:right;
	margin-left:5px;
	text-decoration:none;
}

.tablero-titulo{
	.linear-gradient(#21caec,#0083ba,5%);
	height:32px;
	border-top:#055f7f 1px solid;
	color:#fff;
	line-height:32px;
	padding-left:12px;
}

.breadcrumb{
	height:35px;
	padding-left:10px;
	border-bottom:#dcdcdc 1px solid;
	margin-bottom:0px;
	.box-shadow(0, 8px, 6px,-5px,#efefef);

	.orange{
		.bton-bread-orange;
		float:left;
		padding:3px 8px;
		font-size:12px;
		text-decoration:none;
		margin-top:5px;
	}

	.grey{
		.bton-bread-grey;
		float:left;
		padding:3px 8px;
		font-size:12px;
		text-decoration:none;
		margin-top:5px;
	}

	.arrow{
		color:#aaa;
		line-height:33px;
		margin:0px 8px;
		float: left;
	}
}

.estadisticas{
	text-align:right;
	.info-block{
		color:#6c6f68;
	}
}

.iconindex-estadisticas{
	padding-left:25px;
	background:url(/files/img/estadisticas.png) no-repeat 50px 3px;
}

.programa-acordion{
	.accordion-heading a{
		background:none !important;
		height:40px;
		padding-left:0px !important;
		color:#777;
		.linear-gradient(#fff,#eee,25%) ;
		.number{
			font-size:20px;
			float: left;
			padding:5px;
			color:#696051;
			.text-shadow(0px,1px,0px,#fff);
			.box-shadow(1px,1px,0px,#fff);
			border-top:#e0e0e0 1px solid;
			border-right:#e0e0e0 1px solid;
			border-bottom:#e0e0e0 1px solid;
			.linear-gradient(#fff8e2,#fde5a7,25%);
			.rounded-corners-right(2px);
		}
		.nombre-programa{
			float:left;
			margin-left:10px;
			line-height:40px;
			font-weight:normal;
			font-size:16px;
		}
	}
	.estrategia-seleccion{
		cursor:pointer;
		background:none;
		font-weight:normal;
		border-bottom:#eee 1px solid;
		padding:8px 8px 8px 10px;
		display: block;
		&:hover{
			background:#fffff5;
			-moz-box-shadow:    inset 0 0 4px #eee;
   			-webkit-box-shadow: inset 0 0 4px #eee;
   			box-shadow:         inset 0 0 4px #eee;
		}
	}
	.nom-estrategia{
			color:#038abf;
			font-size:14px;
	}
	.accordion-inner{
		padding:0px;
	}
}

// Indicadores

.indicador{
	border:#b1b1b1 1px solid;
	margin-top:20px;
	.encabezado{
		border-bottom:#b1b1b1 1px solid;
		background-color: #f3f3f3;
		border-top:#fff 1px solid;
	}
	.botones {
		width:84px;
		float:right;
		a{
			.bton-bread-grey;
			float:left;
			width:16px;
			height:18px;
			padding:5px 8px;
			font-size:12px;
			margin-left:5px;
			text-decoration:none;
			margin-top:4px;
		}	
	}
	.titulo{
		color:#0895C7;
		padding:10px;
		width:330px;
		float:left;
	}
	.meta,.grafo{
		padding:10px;
		border-bottom:#b1b1b1 1px solid;
	}
	.subgrafo{
		width:216px;
		float: left;
	}

}

//footer

#footer{
	color:#888a85;
	font-size:11px;
	text-align:right;
	border-top:#b1b8a9 1px solid;
	margin-top:15px;
	padding-top:15px;
	margin-bottom:15px;

	a{
		color:#888a85;
		font-weight:bold;
		text-decoration:none;
	}
}