{% extends "base.html"%}

{%block contenido%}
Lista de salidas.
<ul>
    {% for programa in modulos %}
    <li>
        <h6>{{programa.nombre}}</h6>
        <ul>
        {% for estrategia in programa.estrategia_set.all %}
            <li>
                <p style="font-size: 13px">{{estrategia.nombre}}</p>
                <ul>
                {% for salida in estrategia.salida_set.all %}
                    <li><a href="{{salida.get_absolute_url}}">{{salida.titulo}}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{%endblock%}
