{% extends "baseadmin.html"%}

{%block contenido%}
<div class="grid_12">
	<div class="tablero-titulo">
	TABLERO DE ESTADO PARA EL AÑO
	</div>
</div>
<div class="grid_12">
	<div class="breadcrumb">
		<a href="/programas" class="orange">Programa</a>
	</div>
	<br>
</div>

<div class="grid_9">
	<div class="programa-index-label">Selección de estrategias</div><br>
	<div id="accordion2" class="accordion programa-acordion">
		{% for programa in modulos %}
		    <div class="accordion-group">
		      <div class="accordion-heading">
		        <a href="#{{programa.id}}" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
		          <div class="number">{{programa.id}}</div>
		          <div class="nombre-programa">{{programa.nombre}}</div>
		        </a>
		      </div>
		      <div class="accordion-body collapse" id="{{programa.id}}">
		        <div class="accordion-inner">
		        	{% for estrategia in programa.estrategia_set.all %}
						<a href="/indicadores" class="estrategia-seleccion">
							Estrategia #{{estrategia.numero}}<br>
							<div class="nom-estrategia">{{estrategia.nombre}}</div>
						</a>

					{%endfor%}
		        </div>
		      </div>
		    </div>
	    {%endfor%}
	</div>
	<br><br><br><br><br>
</div>
<div class="grid_3 estadisticas">
	<div class="title-block-index iconindex-estadisticas">Estadisticas Generales</div>
	<p class="info-block">
		<strong>Cursos:</strong> 22<br>
		<strong>Estudiantes:</strong> 22<br>
		<strong>Visita a Biblioteca:</strong> 22<br>
	</p>
</div>
<div class="clear"></div>

<script type="text/javascript">
$(function() {
        $('.alert').fadeOut(4000, function(){
        	$('.alert').css('display', 'none');
        });

    });
</script>

{%endblock%}
